#root > header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#root > header .logo {
  width: auto;
  height: 3.5em;
}

#root > header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

#root > header nav a {
  display: inline-block;
  font-weight: 600;
  font-size: 1.25rem;
  color: #333333;
  transition: color 300ms ease, transform 300ms ease;
}

#root > header nav a:not(.active):hover {
  color: black;
  transform: scale(1.1);
}

#root > header nav a.active {
  font-weight: 500;
}
