.button {
  all: unset;
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.5rem 1.25rem;
  border-radius: 0.75rem;
  font-weight: 600;
  text-align: center;
  display: inline-block;
}

.button.primary {
  color: black;
  background-color: #f4ce14;
  transition: background-color 300ms ease, color 300ms ease,
    transform 300ms ease;
}

.button.primary:hover {
  background-color: hsl(50, 91%, 67%);
  transform: scale(1.05);
}

.button.primary:active {
  background-color: hsl(50, 91%, 82%);
  transform: scale(1);
}
