.hero {
  display: flex;
  position: relative;
}

.hero h3 {
  margin-top: -1rem;
}

.hero .content {
  display: flex;
  flex-direction: column;
}

.hero p {
  max-width: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.hero img {
  position: absolute;
  right: 1.5rem;
  height: 20rem;
  width: 19rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

@media (min-width: 1440px) {
  .hero img {
    width: 22rem;
  }
}

.specials {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.specials header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials .items {
  display: flex;
  gap: 3rem;
  margin-top: 2rem;
}

.specials .items > * {
  flex: 1;
  min-width: 0;
}

.testimonials {
  background-color: #333333;
  padding: 3rem 0;
}

.testimonials header h3 {
  text-align: center;
  color: white;
}

.testimonials .items {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

.testimonials .items > * {
  flex: 1;
  min-width: 0;
}

.about {
  padding: 3rem 0;
}

.about .row {
  display: flex;
  gap: 3rem;
}

.about .row > * {
  flex: 1;
}

.about .left-panel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about .left-panel h2 {
  color: #333333;
}

.about .left-panel h3 {
  margin-top: -4rem;
}

.about .right-panel {
  position: relative;
}

.about .right-panel > img {
  position: absolute;
  width: 65%;
  height: 65%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.about .right-panel > :nth-child(1) {
  bottom: 0;
  right: 0;
  object-position: 50% 60%;
}

.about .right-panel > :nth-child(2) {
  top: 0;
  left: 0;
  object-position: 50% 35%;
}
