.hero {
  display: flex;
  gap: 1.5rem;
  align-items: start;
  flex-wrap: wrap-reverse;
  position: relative;
}

.hero h3 {
  margin-top: -1rem;
}

.hero .content {
  display: flex;
  flex-direction: column;
}

.hero p {
  max-width: 18rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.hero img {
  height: 15rem;
  width: 15rem;
  flex: 1;
  object-fit: cover;
  border-radius: 1.5rem;
}

@media (min-width: 600px) {
  .hero img {
    position: absolute;
    right: 1.5rem;
    height: 20rem;
    width: 19rem;
  }
}

@media (min-width: 1440px) {
  .hero img {
    width: 22rem;
  }
}

.specials {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.specials header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.specials .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

@media (min-width: 760px) {
  .specials .items {
    flex-direction: row;
    align-items: stretch;
  }
}

.specials .items > * {
  flex: 1;
  min-width: 0;
}

.testimonials {
  background-color: #333333;
  padding: 3rem 0;
}

.testimonials header h3 {
  text-align: center;
  color: white;
}

.testimonials .items {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

@media (min-width: 460px) {
  .testimonials .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 850px) {
  .testimonials .items {
    grid-template-columns: repeat(4, 1fr);
  }
}

.testimonials .items > * {
  min-width: 0;
}

.about {
  padding: 3rem 0;
}

.about .row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (min-width: 600px) {
  .about .row {
    flex-direction: row;
  }
}

.about .row > * {
  flex: 1;
}

.about .left-panel {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about .left-panel h2 {
  color: #333333;
}

.about .left-panel h3 {
  margin-top: -4rem;
}

.about .right-panel {
  position: relative;
  min-height: 220px;
}

.about .right-panel > * {
  flex: 1;
  min-height: 0;
}

.about .right-panel > img {
  position: absolute;
  width: 65%;
  height: 65%;
  object-fit: cover;
  border-radius: 1.5rem;
  opacity: 0;
  transition: opacity 0.75s ease, transform 0.75s ease;
}

.about .right-panel > :nth-child(1) {
  bottom: 0;
  right: 0;
  object-position: 50% 60%;
  transform: translateX(75px);
}

.about .right-panel > :nth-child(2) {
  top: 0;
  left: 0;
  object-position: 50% 35%;
  transform: translateX(-75px);
}

.about.isInView .right-panel > img {
  opacity: 1;
  transform: translateX(0);
}
